@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    // To Firefox
    * {
        scrollbar-width: thin;
    }
    ::-webkit-scrollbar {
        width: 6px;
        background-color: inherit;
    }
    ::-webkit-scrollbar-track {
        border-radius: 100px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-color: rgba(0,0,0,.3);
    }

    details {
        summary.chevron-icon {
            @apply flex pl-4 items-center relative;

            &::before {
                content: attr(data-icon);
                @apply justify-center leading-[.375rem] w-3 h-3 flex text-[1.35rem] absolute left-0 duration-300 transition-transform;
            }
        }
        &[open] {
            summary::before {
                @apply rotate-90;
            }
        }
    }
}

@layer utilities {
    .overflow {
        &-overlay {
            overflow: overlay;
        }
        &-y-overlay {
            overflow-y: overlay;
        }
        &-x-overlay {
            overflow-x: overlay;
        }
    }
}