@import "flatpickr/dist/flatpickr.min.css";

.datetime {
    display: flex;
    align-items: stretch;
    .flatpickr-calendar {
        box-shadow: none;
        display: flex;
        border: 1px solid hsl(var(--bc) / 0.1);
        
        &.inline {
            top: 0;
        }

        .flatpickr-time {
            width: 100%;
            height: 100%;
            max-height: 100%;
            line-height: unset;
            border-top: none;
            align-items: stretch;
            overflow: unset;

            .numInputWrapper {
                &, input {
                    border-radius: 0;
                }

                &:last-child, &:last-child input {
                    border-top-left-radius: 0;
                    border-top-right-radius: var(--rounded-btn, 0.5rem);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: var(--rounded-btn, 0.5rem);

                    span.arrowDown,
                    span.arrowUp {
                        border-right: none;
                    }
                }

                span.arrowDown {
                    border-bottom: none;
                }

                span.arrowUp {
                    border-top: none;
                }

                span.arrowDown,
                span.arrowUp {
                    border-radius: 0;
                    background-color: transparent;
                    &:after {
                        top: 40%;
                    }
                }

                display: flex;
                height: auto;
            }

            .flatpickr-time-separator {
                padding: 0 .5rem;
                text-align: center;
                width: auto;
                background-color: transparent;
            }

            .flatpickr-time-separator,
            .flatpickr-am-pm {
                height: 100%;

            }

            input:focus {
                outline: 2px solid hsla(var(--bc) / 0.2);
            }

            input.flatpickr-hour {
                font-weight: normal;
            }

            .numInputWrapper:hover,
            input:hover,
            .flatpickr-am-pm:hover,
            input:focus,
            .flatpickr-am-pm:focus {
                background-color: transparent;
            }
        }
    }
}
